<!DOCTYPE html>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<html>

<head>
    <h1>공지사항</h1>
    <div>
        <%=id%>님 반갑습니다.
    </div>
    <body>
        <div class="col-md-4">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">작성자</th>
                        <th scope="col">등록일</th>
                        <th scope="col">조회 수</th>
                    </tr>
                </thead>
                <tbody>
                    <% for(var i = 0 ; i < data.length ; i++){%>
                        <tr>
                            <th>
                                <%=data[i].ROWNUM%>
                            </th>
                            <td>
                                <a href="/subjectroom2/announcement/content?id=<%=id%>&code=<%=code%>&idx=<%=data[i].idx%>&views=<%=data[i].views%>">
                                    <%=data[i].title%>
                                </a>
                            </td>
                            <td>
                                <%=data[i].name%>
                            </td>
                            <td>
                                <%=data[i].regdate%>
                            </td>
                            <td>
                                <%=data[i].views%>
                            </td>
                        </tr>
                        <% }%>
                </tbody>

            </table>

        </div>
        
    </body>

</html>