<!DOCTYPE html>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- comment tag -->
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!-- moment.js -->
<script type="text/javascript" src="../routers/moment.js"></script>

<html>

<head>

    <body>
        <div>
            <%=data[2][0].content%>
        </div><br>

        <div class="container">
            <div class="row">
                <div class="col-md-8">
                  <div class="page-header">
                    <h1><small class="pull-right"><%=data[2][0].C_exist%> comments</small> Comments </h1>
                  </div> 
                   <div class="comments-list">

                    <% for(var i = 0 ; i < data[2][0].C_exist ; i++){%>
                        <div class="media">
                            <p class="pull-right"><small>
                                <%= moment(data[4][i].commentsDate).fromNow() %>
                             </small></p>
                            <div class="media-body">                                
                              <h4 class="media-heading user_name"><%=data[4][i].commenterName%></h4>
                                    <%=data[4][i].comments%>
                            </div>
                        </div>
                    <% }%>
                        
                   </div>
                </div>
            </div>
        </div><br>

        <form action="/subjectroom2/comment2" method="get">
            <p><textarea cols="100" rows="4" name="comments"></textarea></p>            
            <input type="submit" value="댓글 쓰기">
            <input name="name" type="hidden" value=<%=data[3][0].name%>>
            <input name="code" type="hidden" value=<%=code%>>
            <input name="id" type="hidden" value=<%=id%>>
            <input name="category" type="hidden" value=<%=category%>>
            <input name="idx" type="hidden" value=<%=idx%>>
            <input name="views" type="hidden" value=<%=views%>>
            <input name="existComment" type="hidden" value=<%=data[2][0].C_exist%>>
            <input name="existReply" type="hidden" value=<%=data[2][0].R_exist%>>
        </form><br><br>

        <div>
            답변 쓰기 : 
            <form action="/subjectroom2/reply" method="get">
                <p><textarea cols="100" rows="7" name="reply"></textarea></p>            
                <input type="submit" value="답변하기">
                <input name="idx" type="hidden" value=<%=idx%>>
                <input name="code" type="hidden" value=<%=code%>>
                <input name="id" type="hidden" value=<%=id%>>
                <input name="name" type="hidden" value=<%=data[1][0].name%>>
                <input name="update" type="hidden" value=0>
            </form>
        </div><br>

        <form action="/subjectroom2/backAnnouncementList2" method="get">
            <input type="submit" value="목록">
            <input name="idx" type="hidden" value=<%=idx%>>
            <input name="code" type="hidden" value=<%=code%>>
            <input name="id" type="hidden" value=<%=id%>>
            <input name="views" type="hidden" value=<%=views%>>
            <input name="category" type="hidden" value=<%=category%>>
        </form>

    </body>

</head>

</html>