<!DOCTYPE html>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<!-- 학생용 비디오 리스트-->
<html>

<head>
    <table>
        <tr>
            <td style="text-align: center;"><img src="/getLogoImage" /></td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <h1>Video list</h1>
            </td>
        </tr>
        <tr>
            <td style="text-align: center;">
                <%=id%>님 반갑습니다.
            </td>
        </tr>

        <div>
    </table>


    </div>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">과목</th>
                <th scope="col">날짜</th>
                <th scope="col">파일 명</th>

            </tr>
        </thead>
        <tbody>
            <% for(var i = 0 ; i < data.length ; i++){%>
                <tr>
                    <!--template-->
                    <td>
                        <%=data[i].idx%>
                    </td>
                    <td>
                        <%=data[i].code%>
                    </td>
                    <td>
                        <%=data[i].date%>
                    </td>

                    <td>
                        <%=data[i].path%>
                    </td>

                    <td>

                    </td>
                </tr>
                <% }%>
    </table>


    <div>
        <form action="/subjectroom" method="get">
            <input type="submit" value="back">
            <input name="code" type="hidden" value=<%=code%>>
            <input name="id" type="hidden" value=<%=id%>>
        </form>
    </div>

</html>