<!DOCTYPE html>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
<script src="http://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

<html>

<head>
    <style>
        th,
        td {
            padding: 10px;
        }
    </style>
</head>
<tr>
    <td colspan="5" style="text-align: center;"><img src="/getLogoImage" /></td>
</tr>
<tr>
    <td colspan="5" style="text-align: center;">
        <h1>글 쓰기</h1>
    </td>
</tr>
<tr>
    <td colspan="5" style="text-align: center;">
        <%=id%>님 반갑습니다.
    </td>
</tr>

<body>

    <form action="/subjectroom2/writeProc" method="get">
        <table>
            <tr>
                제목 : <input type="text" name="title"><br>
            </tr>
            <tr>
                내용 :
            </tr>
            <tr>
                <p><textarea cols="50" rows="10" name="content"></textarea></p>
                <input type="submit" value="저장">
                <input name="name" type="hidden" value=<%=data[0].name%>>
                <input name="code" type="hidden" value=<%=code%>>
                <input name="id" type="hidden" value=<%=id%>>
                <input name="category" type="hidden" value=<%=category%>>
            </tr>
            </tr>
        </table>
    </form>

</body>

</html>